<!DOCTYPE html>
<html>
<head>
	<title>Reang Aji Wiranto Web Page</title>
	<link rel="stylesheet" type="text/css" href="style_layout.css">
</head>
<body>

	<div class="header">
	<h1>Reang Aji Wiranto<br />
	<small>Welcome to Reang's Web Page</small>
	</h1>
	</div>

	<div class="menu">
		<ul>
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Product</a></li>
		</ul>
	</div>

	<div class="content">
		<div class="c1"></div>
		<div class="c1"></div>
		<div class="c1"></div>
	</div>

	<div class="footer"></div>

</body>
</html>